body {
	background-color: #fff;
}

.message_wrapper {
	position: fixed;
	background-color: #333;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 60px;
}

@media screen and (max-width: 1100px) {
	#messages {
		width: 75% !important;
	}

	#stickers {
		margin-left: 340px !important;
	}
}

@media screen and (max-width: 900px) {
	.message_wrapper {
		height: 90px;
	}

	.pUsername {
		margin-left: -500px !important;
		margin-top: 60px !important;
	}

	#username {
		margin-top: 45px !important;
	}

	#stickers {
		margin-left: 200px !important;
	}

	.info {
		top: 55px !important;
	}

	#messages {
		width: 70% !important;
	}

}

@media screen and (max-width: 500px) {
	#messages {
		width: 47% !important;
	}

	.message_form {
		width: 100% !important;
	}

	#message {
		width: 72% !important;
	}

	.pUsername {
		margin-left: -450px !important;
		margin-top: 60px !important;
	}

	#stickers {
		background-color: #333 !important;
		margin-left: 100px !important;
	}

	#stick_button {
		margin-right: 5px !important;
	}

	.info {
		opacity: 0 !important;
	}
}

@media screen and (max-width: 400px) {
	#messages {
		width: 100% !important;
		margin-top: 200px !important;
		height: 42% !important;
	}

	#settings_button {
		position: relative !important;
		opacity: 1 !important;
		cursor: pointer !important;
		margin-left: 220px !important;
		bottom: 50px !important;
		float: left !important;
	}

	#settings {
		position: relative !important;
		background-color: #545454 !important;
		width: 100% !important;
		height: 350px !important;
		z-index: 0 !important;
		top: -40px !important;
		opacity: 0 !important;
	}

	#commands {
		margin-left: 80px !important;
	}

	.right_wrapper {
		position: relative !important;
		width: 405px !important;
		top: -10px !important;
		right: -10px !important;
		height: 150px !important;
	}

	#users_online {
		position: relative;
		margin-top: 0px !important;
		left: 30px !important;
	}

	#stickers {
		margin-left: 5px !important;
	}

	#message {
		width: 65% !important;
	}

	#commands_list {
		position: relative;
		left: 50px;
		top: 200px;
		z-index: 1000 !important;
	}

	.pUsername {
		margin-left: -320px !important;
		margin-top: 60px !important;
	}

	#username {
		width: 170px !important;
	}

	#users_online {
		margin-left: 50px !important;
	}
}

#settings {
	margin-top: 60px;
	display: block;
	width: 100%;
	border-top: 3px dashed #333;
	opacity: 1;
	z-index: 1000;
}

#commands {
	margin-left: 20px;
	cursor: pointer;
	color: white;
	font-family: 'Consolas';
	font-size: 16px;
	height: 30px;
	background-color: #333;
	border: 0;
	border-radius: 4px;
}

#commands_list {
	background-color: #545454;
	width: 240px;
	height: 85px;
	right: 230px;
	position: absolute;
	border-radius: 5px;
	font-family: 'Consolas';
	color: white;
	padding: 30px;
}

.pers {
	position: relative;
	top: 10px;
	font-family: 'Consolas';
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
}

.nc_title {
	font-family: 'Consolas';
	color: white;
	float: left;
	margin-left: 20px;
}

#nc {
	width: 70px;
	margin-top: 10px;
	margin-left: 5px;
}

.settings_title {
	color: white;
	font-family: 'Consolas';
	font-size: 20px;
}

.message_form {
	font-family: 'Sans serif';
	color: white;
	display: inline-flex;
	height: 32px;
}

.message_form p {
	padding-right: 17px;
	bottom: 5px;
	position: relative;
}

.pUsername{
	margin-left: 55px;
}

#message{
	border-radius: 7px;
	width: 400px;
	height: 37px;
	background-color: #545454;
	color: white;
	border: 0;
	padding-left: 10px;
}

#message_send{
	cursor: pointer;
	position: relative;
	right: 9px;
	border-radius: 7px;
	height: 39px;
	background-color: #545454;
	color: white;
	border: 0;
	padding-left: 10px;
	border-left: 5px solid #49a0f2;
	border-right: 5px solid #49a0f2;
}

#username{
	border-radius: 7px;
	width: 200px;
	height: 37px;
	background-color: #545454;
	color: white;
	border: 0;
	padding-left: 10px;
}

.right_wrapper {
	position: fixed;
	float: right;
	width: 250px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #545454;
}

.title {
	margin-left: 22%;
	font-family: 'Consolas';
	font-size: 25px;
	color: #49a0f2;
}

#users_online {
	margin-left: 24px;
	margin-top: 55px;
	color: white;
	font-family: 'Consolas';
}

#messages {
	position: fixed;
	width: 80.5%;
	height: 90%;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	font-family: 'Sans serif';
}

.info {
	position: absolute;
	top: 23px;/*21*/
	right: 280px;/*280*/
	display: block;
	width: 175px;
	height: 250px;
	background-color: #545454;
	border-radius: 10px;
	word-wrap: break-word;
	user-select: none;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	-webkit-transition: top 1s ease-out 0.5s;
	-moz-transition: top 1s ease-out 0.5s;
	-o-transition: top 1s ease-out 0.5s;
	transition: top 0.5s ease-out 0.2s;
}

.info:hover { top: -120px; }

.info_title {
	color: white;
	font-family: 'Consolas';
	font-size: 18px;
	padding-bottom: 50px;
	margin-top: 10px;
}

.info img {
	position: absolute;
	width: 46px;
	height: 48px;
	margin-left: 64px;
	top: 47px;
}

.link {
	color: #49a0f2;
	font-family: 'Consolas';
}

#stick_button {
	margin-left: 5px;
	width: 50px;
	height: 40px;
	cursor: pointer;
	filter: grayscale(70%);
	transition: 0.2s;
	user-select: none;
}

#stick_button:hover {
	filter: none;
}

#stickers {
	position: absolute;
	margin-top: -213px;
	margin-left: 475px;
	width: 300px;
	height: 200px;
	background-color: #545454;
	border-radius: 6px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	user-select: none;
	overflow-y: scroll;
}

#stickers img {
	cursor: pointer;
	border-radius: 4px;
	padding: 3px;
}

#stickers img:hover {
	background-color: #656565;
}

#settings_button {
	width: 35px;
	height: 35px;
	position: absolute;
	opacity: 0;
}
